@import '../frame/theme.styl'

.contentBox
  float left
  flex-grow 1
  height contentHeight
  border border
  padding 20px
  
  p
    font-family font-body
    max-width 300px
  
  span
    font-style italic
