@import '../frame/theme.styl'

padding = 20px

.contentBox
  width 'calc(100% - %s)' % (padding * 2 + 8)
  height contentHeight
  border border
  padding padding
  
  p
    font-family fontBody
    max-width 300px
  
  span
    font-style italic
  
  img
    max-height 100px
