@import './../frame/theme.styl'

padding = 20px

.menuBox
  width 'calc(100% - %s)' % ((padding * 2) + (borderWidth * 2))
  height contentHeight
  border border
  padding padding
  
.menuListItem
  list-style-type none
  
.selected
  >button
    font-weight bold
