@import './../frame/theme.styl'

.menuBox
  height contentHeight
  width 150px
  border border
  float left
  padding 20px
  margin-right 25px
  
.menuListItem
  list-style-type none
  
.selected
  >button
    font-weight bold
